@model Topic

@{
    ViewData["Title"] = "Topic";
}
<!-- TO DO: DONE -->
<div id="MasterclassBG" style="background-image: url('/images/recommended-bg.jpeg'); background-repeat: no-repeat;
    background-size: 100% 100%;">
    <div class="container text-white">
        <form asp-action="DeleteTopic" asp-controller="Admin" asp-route-id="@Model.TopicID" method="post">
            @if (User.IsInRole("Admin"))
            {
                <button type="submit" class="btn btn-danger mt-3">
                    <i class="fa fa-minus-circle" style="color: white;"></i> Delete
                </button>
            }
        </form>

        <h3 class="text-center font-weight-bold text-uppercase pt-3">@Model.Name</h3>

        <div id="videos">
            <h5>Presentation:</h5>
            <div class="row d-flex justify-content-center">
                @foreach (Video video in @ViewBag.Videos)
                {
                    <div class="col-sm-12 col-md-6">
                        <video oncontextmenu="return false;" controls controlsList="nodownload" style="width:80%;">
                            <source src="@video.FileURL" type="video/mp4">
                        </video>
                    </div>
                }
            </div>
        </div>

        @if (Model.Description != null)
        {
            <h4>Description:</h4>
            <p>@Model.Description</p>
        }

        <div id="documents">
            <h5>Document(s):</h5>
            <p>
                @foreach (Document document in @ViewBag.Documents)
                {
                    <a href="@document.FileURL" class="text-danger font-weight-bold">@document.Name</a>
                    <br />
                }
            </p>
        </div>

    </div>
</div>